.RecommendationCard{
    width: 170px;
    height: 110px;
    /* border: 1px solid grey; */
    border-radius: 14px;
    position: relative;
    margin-right: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}


.RecommendationCard__img{
    width: 170px;
    height: 110px;
    content: '';
    position: relative;
    z-index: 6;
}

.RecommendationCard__img > img{
    width: 80%;
    object-fit: contain;
}

.Aceites.y.Vinagres{
    position: absolute;
    right: 0;
}

.Aderezos{
    position: absolute;
    right: -10%;
    top: 10%;
}

.Dulces.y.Mantequillas{
    position: absolute;
    left: 0%;
    top: 20%;
    border-bottom-left-radius: 14px;
    
}

.Arroz.y.legumbres{
    position: absolute;
right: -7%;
top: -20%;
}

.Conservas{
    position: absolute;
    top: -10%;
    right: -3%;
    transform: rotateY(180deg);
}


.RecommendationCard__vector{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    height: 100%;
    
}

.RecommendationCard__vector > img{
    height: 100%;
    border-top-right-radius: 14px ;
    border-bottom-right-radius: 14px;
}

.RecommendationCard span{
    position: absolute;
    top: 72%;
    left: 8%;
    z-index: 7;
    font-size: 16px;
    color: #152E12;
}

.span-Dulces.y.Mantequillas{
    position: absolute;
    top: 10%;
    left: 5%;
    font-size: 15px;
    z-index: 7;
    color: #152E12;
}

