.CategoryCard-active,.CategoryCard-inactive{
    height: 3vh;
    width: 80%;
    font-size:small;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* width:max-content; */
    /* padding-right: 4px;
    padding-left: 4px; */
    border: none;
    
}


.CategoryCard-active{
    background-color: rgb(174, 174, 178,0.8);
    color: #2C400F; 
}

.CategoryCard-inactive{
    background-color: rgb(238, 237, 237);
    color: #AEAEB2;
}


.CategoryCard-active p,.CategoryCard-inactive p{
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 5%;
    margin-right: 5%;
    /* text-overflow: clip; */
}
