.Home{
    height: 100vh;
    position: relative;
}

.Home__content{
    
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 5%;
    padding-top: 8%;
}
.back__button{
    position: absolute;
    top: 10vh;
    left: 2vh;
    background-color: #D9D9D9;
    color: black;
    z-index: 6;
    height: 34px;
    width: 34px;
    border-radius: 24px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Home__content__products__filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20%;
    margin-bottom: 5%;
}

.Home__content_products__filter__header{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.Home__content_products__filter__header h2,.Home__content_products__filter__header h6{
    color: #2C400F;
}

.Home__content_products__filter__products{
    display: flex;
    flex-wrap: wrap;
    gap: 6%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 14vh;
}
h2{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: 600;
    width: 224px;
    color: #2C400F;
}

.Home__search__bar{
    margin-top: 5%;
    border: 1px solid #316F2A;
    width: 92%;
    /* height: 40px; */
    height: 5vh;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Home__search__bar input{
    border: none;
    width: 165px;
    margin-left: 8%;
}

.Home__search__bar input::placeholder{
    color: black;
    opacity: 1;
    font-size: 16px;
}

.Home__search__bar .Home__search__bar__btn{
    width: 24px;
    height: 24px;
    background-color: white;
    border: none;
    color: #316F2A;
    margin-right: 8%;
}

.Home__search__bar .Home__search__bar__btn >svg{
    width: 100%;
    height: 100%;
}

.Home__categories{
    width:100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8%;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.Home__categories .category__card{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    flex: 0 0 35%;
}

.Home__products{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    scroll-snap-type:x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}

.Home__products__filter{
    width: 100%;
    height: 25vh;
    /* margin-top: 8%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.Home__products .products__card{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align:start;
    flex: 0 0 20%;

}

.title__recommendations{
    font-size: 20px;
    color: #2C400F;
    margin-top: 8%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.Home__recommendations{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    gap: 10px;
    scroll-snap-type:x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10vh;
}

.Home__recommendations .recommendations__card{
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: center;
    flex: 0 0 10%;
}

.nofavs{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 20vh;
    
    
}

/* MEDIA QUERIES */
@media (min-width: 562px){
    .Home__content{
        /* min-height: 100%; */
        padding-top:2%;
        display: flex;
        align-items: center;
        margin-bottom: 20vh;
    }
    .Home__content__products__filter{
        width: 100%;
        margin-top: 55px;
        height: 80%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        
    }
    .Home__content_products__filter__header{
        justify-content: flex-start;
        align-items: flex-start;
    }
    .Home__content_products__filter__header h2{
        
        text-align: center;
    }
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    
    .Home__search__bar{
        min-height: 5vh;
    }
    
    .Home__categories{
        min-height: 6vh;
    }
    .Home__products{
        min-height: 30vh;
    }
    .title__recommendations{
        margin-top: 4%;
    }
    .Home__recommendations{
        min-height: 20vh;
        width: 90%;
        align-self: center;
        margin-bottom: 10vh;
        display: flex;
        justify-content: center;
    }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    
    .Home__categories{
        width: 60%;
        align-self: center;
    }
    
}



/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    .Home{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .Home__categories{
        width: 100%;
        align-self: center;
    }

    .Home__categories::-webkit-scrollbar{
        display: none;
    }
    .Home__content{
        width: 80%;
    }
    
    .Home__products{
        width: 130%;
        height: 100%;
        min-height: 30vh;
        align-self: center;
        display: flex;
        justify-content:center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        scroll-snap-type:y mandatory;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    .Home__recommendations {
        overflow-x: hidden;
        margin-top: 2%;
        gap: 1.5%;
        width: 100%;
    }
}