@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');



.alert__in__header{
    margin-top: 2%;
    width: 100%;
    background-color: var(--PrincipalColor);
    border-radius: 12px;
}

.header-menu button {
    margin-left: 5%;
    width: 10%;
    margin-left: 100%;
    background: transparent;
}

.header-menu button img {
    width: 18px;
    opacity: 0.8;
}

.header-menu {
    background: var(--PrincipalColor);
    height: 60px;
}

.header_Form {
    width: 100%;
    text-align: center;
}

.header_Form h1 { margin-top: 5%; }

.header_Form img { 
    width: 30%; 
    opacity: 0.5;
}

.header_Form .div_img__user {
    width: 40%;
    background: #E6E6E6;
    padding: 2%;
}

.form_label {
    background: white;
    position: absolute;
    margin-top: -1%;
    margin-left: 3%;
    font-size: 14px;
    padding: 0 1%;
}

.input {
    height: 54px;
    border: 1px solid #666666 !important;
}

#forget { 
    color: black;
    background: transparent;
    text-decoration: underline;
}

.btn-Google {
    border: solid 1px #79747E;
    border-radius: 10px;
    width: 100%; /*312px en figma*/
    padding: 0.5rem;
    background: transparent;
    font-weight: 500;
}

.btn-Google img {
    width: 20px;
    margin-right: 1%;
}

.btn {
    background: #606060 !important;
    color: white !important;
    border: none !important;
    border-radius: 4px !important;
    width: 135px;
    text-transform: uppercase;
    font-size: 16px;
}

.show svg { margin-left: -2rem; }

/*! Media Queries for label */

@media screen and (max-width: 936px) {
    .form_label { margin-top: -1%; }
}

@media screen and (max-width: 760px) {
    .form_label { margin-top: -1.8%; }
}

@media screen and (max-width: 620px) {
    .form_label { margin-top: -2.1%; }
}

@media screen and (max-width: 510px) {
    .form_label { margin-top: -3%; }
}

/* !Modal OlvidarPass*/
.form-control[placeholder="input text"]  {
    background: #E9E3EF !important;
}

.colorBg { background: #E9E3EF; }