@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --PrincipalColor: #C8DEBD;
    --ColorTitle: #2C400F;
}

.disabled{
    color: rgb(174, 174, 178);
}

.lineBottom {
    border-bottom: rgb(174, 174, 178) 1px solid;
}

.opacity {
    opacity: 0.5;
}

.color { color: #4A8044; }

.colorTitle { color: var(--ColorTitle); }